.socialIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.icon{
    border:1px solid #fff;
    color: wheat;
    font-size: 30px;
    border-radius: 50%;
    height:50px;
    width:50px;
    cursor: pointer;
    transition: all linear .3s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
