.teamCard:hover .afterHover{
    display: flex;
    background: transparent;
    background-color: rgba(0, 0, 255, 0.4);
    gap: 5px;
    transition:  all linear .5s;
    -webkit-transition:  all linear .5s;
    -moz-transition:  all linear .5s;
    -ms-transition:  all linear .5s;
    -o-transition:  all linear .5s;
}
.socialIcon:hover{
    color: red !important;
    transition:  all linear .5s;
    -webkit-transition:  all linear .5s;
    -moz-transition:  all linear .5s;
    -ms-transition:  all linear .5s;
    -o-transition:  all linear .5s;
}
